/* Header styling */
header {
	/* border: solid 1px black; */
	display: grid;
	gap: 10px;
  }
  
  header a {
	color: unset;
	text-decoration: none;
  }
  #user-account-info {
	display: grid;
	grid-template-columns: repeat(2, auto);
	place-content: end;
	padding-right: 58px;
	gap: 5px;
	padding-top: 20px;
  
  }
  #user-account-info span {
	font-size: var(--font-size);
  }
  #header-actions ul {
	padding: 0 50px;
	display: grid;
	gap: 10px;
	grid-template-columns: auto 5px auto 5px auto auto;
	place-content: end;
	/* border: solid 1px black; */
  }
  
  #header-actions ul li {
	place-self: center;
	margin: 5px;
	font-size: 10px;
	color: var(--light-grey);
	list-style: none;
  }
  
  #header-actions ul li span:hover {
	color: var(--light-red);
	cursor: pointer;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
  
  #header-actions ul li i:hover {
	color: var(--light-red);
	cursor: pointer;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
  
  #header-menu {
	display: grid;
	grid-template-columns: 100px auto;
	padding: 0 50px;
  }
  
  #header-menu ul {
	padding-left: 3px;
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(7, auto);
	align-content: center;
	justify-content: end;
	margin-left: 30px;
	font-size: var(--font-size);
  }
  
  #header-menu ul li {
	margin: 5px;
	list-style: none;
	cursor: pointer;
  }
  
  #header-menu ul li a {
	text-decoration: none;
	color: black;
  }
  
  #header-menu ul li:hover {
	color: var(--light-red);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
  
  #active {
	color: var(--light-red);
  }


  /* Footer styling */
footer {
	padding: var(--padding);
	background-color: white;
	display: block;
	padding-bottom: 0;
  }
  
  .related-info {
	display: flex;
	justify-content: space-between;
	text-align: left;
  }
  
  /* .related-info div {
	width: calc((100% / 5));
  } */
  
  .related-info div p {
	list-style: none;
	margin-top: 14px;
	font-size: 10px;
	color: var(--light-grey);
  }
  
  .related-info div p:hover {
	cursor: pointer;
	font-weight: 600;
  }
  
  .related-info div p span {
	margin-bottom: 20px;
	color: black;
	font-size: var(--font-size);
	font-weight: bold;
  }
  
  .copyright-social-media {
	display: flex;
	margin-top: 60px;
  }
  
  .copyright-social-media p {
	font-size: 12px;
	color: var(--light-grey);
  }
  
  #social-media-icons {
	margin-left: auto;
  }
  
  #social-media-icons i {
	color: var(--light-grey);
	font-size: 12px;
  }
  
  #social-media-icons i:hover {
	color: var(--light-red);
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	cursor: pointer;
  }