:root {
    /* CSS variables */
    --padding: 60px 200px 60px 200px;
    --background-grey: #eeeeee;
    --light-grey: #7c7a7a;
    --light-red: #dc7957;
    --font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/* Drag and drop section styling */
.drag-drop-section {
    padding: var(--padding);
    text-align: center;
}

#drag-and-drop {
    display: flex;
    justify-content: space-between;
}

#img-container {
    border: 2px dashed var(--light-grey);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
}

#drop-box {
    border: 2px dashed var(--light-grey);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
}

#drag-img {
    width: 80%;
}

/* Canvas and svg styling */
.canvas-and-svg {
    padding: var(--padding);
    background-color: var(--background-grey);
    text-align: center;
}

#my-canvas {
    border-radius: 20px;
    background-color: white;
}

#rounded-rectangle-and-circle {
    border: 1px rgb(139, 136, 136) solid;
    border-radius: 20px;
    background-color: white;
}
