:root {
    /* CSS variables */
    --padding: 60px 200px 60px 200px;
    --background-grey: #eeeeee;
    --light-grey: #7c7a7a;
    --light-red: #dc7957;
    --font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/* Header styling */
header {
  /* border: solid 1px black; */
  display: grid;
  gap: 10px;
}

#header-actions ul {
    padding: 0 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 5px auto 5px auto auto;
    place-content: end;
    /* border: solid 1px black; */
}

#header-actions ul li {
    place-self: center;
    margin: 5px;
    font-size: 10px;
    color: var(--light-grey);
    list-style: none;
}

#header-actions ul li span:hover {
    color: var(--light-red);
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#header-actions ul li i:hover {
    color: var(--light-red);
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#header-menu {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 0 50px;
}

#header-menu ul {
    padding-left: 3px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(7, auto);
    align-content: center;
    justify-content: end;
    margin-left: 30px;
    font-size: var(--font-size);
}

#header-menu ul li {
    margin: 5px;
    list-style: none;
    cursor: pointer;
}

#header-menu ul li a {
    text-decoration: none;
    color: black;
}

#header-menu ul li a:hover {
    color: var(--light-red);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#active {
    color: var(--light-red);
}

/* Entry styling */
.entry {
    background-image: url("shop_images/entry-background.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.entry h2 {
    margin: 0px;
}

/* Product container styling */
.product-container {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid var(--light-grey);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 20px;
}



.product:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.product img {
    width: 100%;
    background-color: var(--background-grey);
    border-radius: 20px;
}

.product-description {
    text-align: left;
    padding: 5px;
}

.product-description span {
    color: var(--light-grey);
    margin-bottom: 0px;
    font-size: 12px;
}

.product-description h5 {
    margin: 0px;
}

.product-description h4 {
    margin: 0px;
    margin-bottom: 30px;
    color: var(--light-red);
}

.ratings {
    margin: 0px;
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product-description a {
    text-align: center;
}

.product-description a i:hover {
    font-size: 18px;
    background-color: white;
}

.product-description .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #fdf7f7;
    font-weight: 500;
    color: var(--light-red);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.pages button {
    background-color: var(--light-red);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.pages button:hover {
    color: var(--background-grey);
    font-size: 18px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/* Single product styling */
.single-product {
    padding: var(--padding);
    display: flex;
    gap: 50px;
}

/* #prod-image { */
#images {
    text-align: center;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
}

#main-img {
    margin-bottom: 10px;
    border: 2px solid var(--light-grey);
    border-radius: 25px;
    padding: 7px;

}

#main-img:hover {
    cursor: pointer;
}

#main {
    width: 100%;
    background-color: var(--background-grey);
    border-radius: 20px;
}

#smaller-images {
    display: flex;
    gap: 10px;
}

.small {
    background-color: var(--background-grey);
    border-radius: 20px;
}

#small-img {
    padding: 5px;
    border: 2px solid var(--light-grey);
    border-radius: 25px;
}

#small-img:hover {
    cursor: pointer;
}

.small {
    width: 100%;
}

.prod-description {
    margin: 0;
}

#prod-price {
    color: var(--light-red);
    margin: 0;
}

#prod-name {
    margin-bottom: 8px;
}

.entry-and-about-us-button {
    margin-top: 16px;
    background-color: var(--light-red);
    border: none;
    height: 40px;
    width: 130px;
    font-size: var(--font-size);
    color: white;
    cursor: pointer;
}

.entry-and-about-us-button:hover {
    color: var(--background-grey);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#quantity-add-button input {
    height: 32px;
    width: 40px;
}

.prod-specifics {
    margin-top: 32px;
}

.prod-specifics table tr th {
    text-align: left;
}

.prod-specifics table tr td {
    padding: 8px 12px 8px 0;
}

.prod-specifics table tr:nth-child(even) {
    background-color: var(--background-grey);
}

/* Footer styling */
footer {
    padding: var(--padding);
    background-color: white;
    display: block;
    padding-bottom: 0;
  }
  
  .related-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .related-info div p {
    list-style: none;
    margin-top: 14px;
    font-size: 10px;
    color: var(--light-grey);
  }
  
  .related-info div p:hover {
    cursor: pointer;
    font-weight: 600;
  }
  
  .related-info div p span {
    margin-bottom: 20px;
    color: black;
    font-size: var(--font-size);
    font-weight: bold;
  }
  
  .copyright-social-media {
    display: flex;
    margin-top: 60px;
  }
  
  .copyright-social-media p {
    font-size: 12px;
    color: var(--light-grey);
  }
  
  #social-media-icons {
    margin-left: auto;
  }
  
  #social-media-icons i {
    color: var(--light-grey);
    font-size: 12px;
  }
  
  #social-media-icons i:hover {
    color: var(--light-red);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
  }
