:root {
  /* CSS variables */
  --padding: 40px 120px 40px 170px;
  --font: Ubuntu;
  --background-grey: #eeeeee;
  --light-grey: #7c7a7a;
  --light-red: #dc7957;
  --background-grey: #eeeeee;
  --about-section-background: #ededed;
}

img {
  width: 100%;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(http://example.com/fonts/ubuntu.woff) format("woff");
}

body {
  font-family: Ubuntu, sans-serif;
}

/* Header styling */
header {
  /* border: solid 1px black; */
  display: grid;
  gap: 10px;
}

#header-actions ul {
  padding: 0 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 5px auto 5px auto auto;
  place-content: end;
  /* border: solid 1px black; */
}

#header-actions ul li {
  place-self: center;
  margin: 5px;
  font-size: 10px;
  color: var(--light-grey);
  list-style: none;
}

#header-actions ul li span:hover {
  color: var(--light-red);
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#header-actions ul li i:hover {
  color: var(--light-red);
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#header-menu {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 0 50px;
}

#header-menu ul {
  padding-left: 3px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, auto);
  align-content: center;
  justify-content: end;
  margin-left: 30px;
  font-size: 14px;
}

#header-menu ul li {
  margin: 5px;
  list-style: none;
  cursor: pointer;
}

#header-menu ul li:hover {
  color: var(--light-red);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* Entry styling */
.entry {
  padding: var(--padding);
  display: flex;
  margin: 0 16px 40px 16px;
}

#entry-text {
  font-size: 13px;
  padding-right: 0;
}

.entry img {
  width: 65%;
  padding-left: 0;
}

#entry-text h1 {
  margin: 0;
  padding: 60px 0 0 0;
}

#entry-text p span {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 85px;
  color: black;
}

#entry-text p {
  color: var(--light-grey);
}

#entry-button {
  background-color: var(--light-red);
  border: none;
  height: 30px;
  width: 100px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

#entry-button:hover {
  color: var(--light-grey);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* About Us styling */
.About-Us {
  display: grid;
  grid-template-columns: 500px 400px;
  gap: 50px;
  place-content: center;
  padding: 120px 20px;
  background-color: var(--about-section-background);
}

.About-Us img {
  width: 100%;
  height: 500px;
  margin: 0 20px;
}

#About-Us-Text {
  place-self: center;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  align-items: start;
}

#About-Us-Text p {
  line-height: 2;
  display: grid;
  gap: 20px;
  font-size: 14px;
}
#About-Us-Text p span {
  font-weight: normal;
}
#About-Us-Text h1 {
  font-size: 40px;
  font-weight: 300;
}

#About-Us-Text span {
  font-weight: 900;
}

#button-read-more {
  padding: 1em 1.5em;
  background-color: rgb(219, 120, 88);
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
}

#button-read-more:hover {
  color: rgb(248, 230, 205);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* Latest article styling */
.latest-article {
  padding: var(--padding);
  background-color: var(--background-grey);
}

.latest-article h1 {
  font-size: 40px;
  margin-top: 40px;
}

#articles {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

#articles article {
  width: calc(100% / 3);
}

.latest-article article img {
  width: 100%;
}

#article-text {
  padding: 0 16px;
  color: var(--light-grey);
  font-size: 14px;
  text-align: justify;
}

#article-header {
  padding: 0 16px;
  font-size: 18px;
  color: black;
}

#articles button {
  margin: 0 16px 40px 16px;
  border: none;
  background-attachment: none;
  cursor: pointer;
  text-decoration: underline;
  color: var(--light-red);
  font-size: 14px;
}

#articles button:hover {
  color: var(--light-grey);
  font-size: 16px;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

/* Explore Section */
.explore {
  padding: 20px 30px;
  display: grid;
  gap: 20px;
  place-content: center;
  margin: 40px 0;
}

.explore img {
  width: 100%;
}

.explore-intro h1 {
  font-size: 40px;
}

.explore-intro p {
  max-width: 80ch;
  color: #7e7e7e;
  line-height: 1.5;
}

.explore-cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}
.explore-card {
  display: grid;
  grid-template-rows: 260px 180px;
  gap: 10px;
}

.explore-card-text {
  display: grid;
  grid-template-rows: auto 100px auto;
  place-content: center;
  padding: 0 10px;
  margin-top: 25px;
}
.explore-card-text h3 {
  font-size: 25px;
  font-weight: 400;
}
.explore-other {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  place-content: center;
  margin-top: 100px;
}

.explore-other img {
  height: 100%;
}

.explore-other-more {
  display: grid;
  grid-template-rows: repeat(2, 280px);
  grid-template-columns: 300px;
  gap: 20px;
}

.explore-card-text p {
  max-width: 30ch;
  overflow-y: hidden;
  color: #7c7a7a;
}

.explore-card-text button {
  background: none;
  border: none;
  border-bottom: var(--light-red) solid 0.5px;
  color: var(--light-red);
  padding: 3px 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  place-self: start;
}

.explore-card-text button:hover {
  color: var(--light-grey);
  border-bottom: solid 0.5px var(--light-grey);
  font-size: 16px;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.explore-other-more-actions {
  position: relative;
}

.explore-other-more-actions-img {
  filter: brightness(0.6);
  position: absolute;
}

.explore-more-actions-info {
  position: absolute;
  z-index: 10;
  margin: 50px 40px;
}

.explore-more-actions-info h4 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 0 5px;
}

.explore-other-more-actions-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  gap: 10px;
  margin-top: 10px;
}

.explore-other-more-actions-buttons button {
  padding: 8px 13px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.explore-other-more-actions-buttons button:hover {
  scale: 1.2;
  transition-timing-function: ease-out;
  z-index: 10;
  transition-duration: 0.5s;
}

.explore-other-lm-btn {
  background-color: white;
  color: black;
  border: none;
  border: solid 1px white;
}

.explore-other-pn-btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

.explore-other-pn-btn:hover {
  background-color: white;
  color: black;
  border: none;
  border: solid 1px rgba(0, 0, 0, 0.6);
}

/* Footer styling */
footer {
  padding: var(--padding);
  background-color: white;
  display: block;
  padding-bottom: 0;
}

.related-info {
  display: flex;
}

.related-info div {
  width: calc((100% / 5));
}

.related-info div p {
  list-style: none;
  margin-top: 14px;
  font-size: 10px;
  color: var(--light-grey);
}

.related-info div p span {
  margin-bottom: 20px;
  color: black;
  font-size: var(--font-size);
  font-weight: bold;
}

.copyright-social-media {
  display: flex;
  margin-top: 60px;
}

.copyright-social-media p {
  font-size: 12px;
  color: var(--light-grey);
}

#social-media-icons {
  margin-left: auto;
}

#social-media-icons i {
  color: var(--light-grey);
  font-size: 12px;
}

#social-media-icons i:hover {
  color: var(--light-red);
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
