:root {
    /* CSS variables */
    --padding: 60px 200px 60px 200px;
    --font: Ubuntu; 
    --background-grey: #eeeeee;
    --light-grey: #7c7a7a;
    --light-red: #dc7957;
    --background-grey: #eeeeee;
    --button-width: 130px;
    --button-height: 40px;
    --gap-between-text-lines: 18pt;
    --font-size: 14px;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    font-family: Ubuntu, sans-serif;
    overflow-x: hidden;
}

/* Header styling */
header {
    /* border: solid 1px black; */
    display: grid;
    gap: 10px;
}

#header-actions ul {
    padding: 0 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 5px auto 5px auto auto;
    place-content: end;
    /* border: solid 1px black; */
}

#header-actions ul li {
    place-self: center;
    margin: 5px;
    font-size: 10px;
    color: var(--light-grey);
    list-style: none;
}

#header-actions ul li span:hover {
    color: var(--light-red);
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#header-actions ul li i:hover {
    color: var(--light-red);
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#home {
    color: var(--light-red);
}

#header-menu {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 0 50px;
}

#header-menu ul {
    padding-left: 3px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, auto);
    align-content: center;
    justify-content: end;
    margin-left: 30px;
    font-size: var(--font-size);
}

#header-menu ul li {
    margin: 5px;
    list-style: none;
    cursor: pointer;
} 

#header-menu ul li:hover {
    color: var(--light-red);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

/* Entry styling */
.entry {
    padding: var(--padding);
    display: flex;
}

#entry-text {
    font-size: var(--font-size);
    padding-right: 0;
}

.entry img {
    width: 65%;
    margin-left: auto;
}

#entry-text h1 {
    line-height: 40pt;
}

#entry-text p span {
    font-weight: bold;
    font-size: 90px;
    color: black;
}

#entry-text p {
    color: var(--light-grey);
    line-height: var(--gap-between-text-lines);
}

#entry-button {
    margin-top: 16px;
    background-color: var(--light-red);
    border: none;
    height: var(--button-height);
    width: var(--button-width);
    font-size: var(--font-size);
    color: white;
    cursor: pointer;
}

#entry-button:hover {
    color: var(--background-grey);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

/* About Us styling */
.About-Us {
    background-color:var(--background-grey);
    width: 1000px;
    height:530px;  
   /*  margin:0px  100px;  */
    /* margin-right: 50px; */
    
    display: block; /* qikjo ndoshta inline-block */
    margin-left: auto;
    margin-right: auto;
}

.About-Us img {
    float: right;
    margin-right: 130px;
    margin-top: 80px;       
}

#About-Us-Text pre {
    margin-left: 75px;
    margin-top: 120px;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
    color: #7c7a7a;
    line-height: 18pt; 
}

#button-read-more {
    position: relative;
    left: 170px;
    top: -10px; 
    /* display: inline-block; */
    padding: 0.5em 1em;
    background-color:rgb(219,120,88);
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;  
}

#button-read-more:hover {
    color: rgb(248, 230, 205);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#About-Us-Text h1 {
   /*  margin-left: 160px; */
   position: relative;
   left: 170px;
   top: 120px; 
   font-size: 40px;
}

/* Latest article styling */
.latest-article {
    padding: var(--padding);
    background-color: var(--background-grey);
}

.latest-article h1 {
    font-size: 40px;
    /* margin-top: 40px; */
}

#articles {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

#articles article {
    width: calc(100% / 3);
}

.latest-article article img {
    width: 100%;
} 

#article-text {
    padding: 0 16px;
    color: var(--light-grey);
    font-size: var(--font-size);
    line-height: var(--gap-between-text-lines);
}

#article-header {
    padding: 0 16px;
    font-size: 18px;
    color: black;
    line-height: var(--gap-between-text-lines);
}

#articles button {
    margin: 0 16px 40px 16px;
    border: none;
    background-attachment: none;
    cursor: pointer;
    text-decoration: underline;
    color: var(--light-red);
    font-size: var(--font-size);
}

#articles button:hover {
    color: var(--light-grey);
    font-size: 16px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

/* Footer styling */
footer {
    padding: var(--padding);
    background-color: white;
    display: block;
    padding-bottom: 0;
}

.related-info {
    display: flex;
}

.related-info div {
    width: calc((100% / 5));
}

.related-info div p {
    list-style: none;
    margin-top: 14px;
    font-size: 10px;
    color: var(--light-grey);
}

.related-info div p span {
    margin-bottom: 20px;
    color: black;
    font-size: var(--font-size);
    font-weight: bold;
}

.copyright-social-media {
    display: flex;
    margin-top: 60px;
}

.copyright-social-media p {
    font-size: 12px;
    color: var(--light-grey);
}

#social-media-icons {
    margin-left: auto;
}

#social-media-icons i {
    color: var(--light-grey);
    font-size: 12px;
}

#social-media-icons i:hover {
    color: var(--light-red);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
}